.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  width: 300px;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: rgb(247, 247, 247);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-height: 300px;

  .tasksList {
    width: 270px;
    min-height: 105px;
    border: 2px solid rgb(67, 49, 255);
  }
}
