.root {
  width: 200px;
  height: 200px;
  border: 1px solid rgb(132, 255, 202);
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 20px;
}

.title {
  margin-top: 15px;
}

.description {
}
