.root {
  border: none;
  border-radius: 5px;
  background: rgb(100, 110, 255);
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px,
    rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.5s;

  &.small {
    font-size: 15px;
    padding: 9px;
  }

  &.medium {
    font-size: 17px;
    padding: 13px;
  }

  .children {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    img {
      width: 20px;
      height: 20px;
      opacity: 0.8;
    }
  }

  &:hover {
    background: rgb(75, 87, 255);
  }
}
