.root {
  padding: 10px;
  border: 1px solid rgb(212, 255, 58);
  border-radius: 10px;
  background-color: bisque;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    background-color: rgb(254, 208, 152);
  }
}
