.root {
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 17px;
    border-bottom: 2px solid rgb(130, 130, 130);
    margin-bottom: 17px;

    .boardName {
      display: flex;
      gap: 10px;

      h2 {
        align-self: flex-end;
        font-size: 33px;
      }

      button {
        align-self: flex-start;
        padding: 5px;

        img {
          width: 15px;
          height: 15px;
          opacity: 0.6;
        }
      }
    }
  }

  .columns {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }

  @media (max-width: 1175px) {
    .columns {
      overflow: auto;
    }
  }

  @media (max-width: 631px) {
    .header {
      flex-wrap: wrap;

      .boardName {
        order: 1;
        margin: auto;
      }
    }
  }
}
