.root {
  display: flex;
  flex-direction: column;

  .boards {
    display: flex;
    justify-content: space-between;

    .tasksColumn {
      width: 32%;
      // height: 80vh;
      border: 2px solid rgb(67, 49, 255);
    }
  }
}
