.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(160, 166, 254);
  padding: 10px;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.5s;

  .body {
    display: flex;

    .checkbox {
      margin-right: 10px;
      transform: scale(1.3);
      cursor: pointer;
    }

    .complete {
      text-decoration: line-through;
    }
  }

  .createdAt {
    font-size: 15px;
    color: grey;
  }

  &:hover {
    background-color: rgb(124, 133, 255);
  }
}
