.root {
  display: flex;
  background-color: rgb(160, 166, 254);
  padding: 10px;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.5s;

  .checkbox {
    margin-right: 10px;
    transform: scale(1.5);
    cursor: pointer;
  }

  .complete {
    text-decoration: line-through;
  }

  &:hover {
    background-color: rgb(124, 133, 255);
  }
}
