.root {
  display: flex;
  flex-direction: column;
  width: 900px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;

    .info {
      .title {
        font-size: 33px;
      }
      display: flex;
      gap: 13px;

      img {
        width: 23px;
        height: 23px;
        margin-right: 3px;
      }

      .priority {
        display: flex;
        align-items: center;
        color: gray;
      }

      .createdAt {
        display: flex;
        align-items: center;
        font-size: 22px;
      }
    }
  }

  .body {
    display: flex;

    .title {
      font-size: 22px;
      color: rgb(92, 92, 92);
      margin-right: 5px;
    }

    .date {
      align-self: flex-end;
      font-size: 20px;
    }

    .input {
      display: flex;
      align-items: flex-end;
      p {
        font-size: 25px;
      }
    }

    .left {
      display: flex;
      flex-direction: column;
      gap: 7px;
      flex: 1;
      margin-right: 25px;
      padding-right: 25px;
      border-right: 1px solid #eee;

      .description {
        border-bottom: 1px solid #eee;
        padding-bottom: 7px;
        .body {
          max-height: 110px;
          overflow: scroll;
        }
      }

      .attachedFile {
        border-bottom: 1px solid #eee;
        padding-bottom: 7px;
      }

      .finishBy {
        display: flex;
        border-bottom: 1px solid #eee;
        padding-bottom: 7px;
      }

      .timeInWork {
        display: flex;
        border-bottom: 1px solid #eee;
        padding-bottom: 7px;
        margin-bottom: 15px;
      }

      .subTaskInput {
        display: flex;

        .title {
          font-size: 30px;
        }

        input {
          padding: 6.2px 10px;
        }
      }

      .subtasks {
        display: flex;
        flex-direction: column;
        max-height: 250px;
        overflow: scroll;
        gap: 5px;
      }
    }
    .right {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 7px;

      .commentInput {
        display: flex;

        .title {
          font-size: 30px;
        }

        input {
          padding: 6.2px 10px;
        }
      }

      .comments {
        max-height: 500px;
        overflow: scroll;
      }
    }
  }
}
