.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  width: 220px;
  height: 220px;
  border: none;
  background-color: rgb(166, 220, 255);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 3px;
  border-radius: 15px;
  transition: all 0.4s;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    transform: scale(103%);
  }

  @media (max-width: 770px) {
    width: 165px;
    height: 165px;
  }
}
